<div id="find_resources" class="main-panel container-fluid">

  <!-- Creates input field for origin and destination -->
  <div>
    <input id="origin-input" class="controls" type="text"
        placeholder="Enter current location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination">
  </div>

  <!-- Creates controls for walking, transit, or driving -->
  <div id="mode-selector" class="controls">
    <input type="radio" name="type" id="changemode-walking" checked="checked">
    <label for="changemode-walking">Walking</label>

    <input type="radio" name="type" id="changemode-transit">
    <label for="changemode-transit">Transit</label>

    <input type="radio" name="type" id="changemode-driving">
    <label for="changemode-driving">Driving</label>
  </div>

  <!-- Not sure -->
  <div id="right-panel"></div>

  <!-- Google Map -->
  <div id="map"></div>

  <!-- Right sidebar for legend, checklist, and directions -->
  <div id="resource_tools">
    <div id="resource_tool_legend">
      <label>Filter By:</label>
      <center id="filter_options">
      </center>
    </div>
    <hr/>
    <form id="formid" action="/checkBox" method="POST">
      <div id="resource_tool_checklist">
        <label>Checklist</label>
        <br/>
        <ul class="pull-right" class="checklist_list">
          {{#each secondHalf}}
          <li class="{{className}}"><input type="checkbox" {{#if isChecked}}checked{{/if}} name="{{name}}"/>{{name}}</li>
          {{/each}}
        </ul>
        <ul class="checklist_list" style="padding: 0 !important; margin 0">
          {{#each firstHalf}}
          <li class="{{className}}"><input type="checkbox" {{#if isChecked}}checked{{/if}} name="{{name}}"/>{{name}}</li>
          {{/each}}
        </ul>
        <br>
        <input type="submit" class="btn btn-secondary" value="Update" id="update-btn"></input><span id="message" style="color:green;"></span>
      </div>
    </form>
    <hr/>
    <div id="resource_tool_directions">
      <label>Directions:</label>
      <div id="resource_tool_direction_list">
        <center>Click Location for Directions!</center>
      </div>
    </div>
  </div> <!-- end of resource_tool_checklist -->
</div> <!-- end of find_resources-->

  <script type='text/javascript'>
    /* attach a submit handler to the form */
    $("#formid").submit(function(event) {

      /* stop form from submitting normally */
      event.preventDefault();

      /* get the action attribute from the <form action=""> element */
      var $form = $( this ),
          url = $form.attr( 'action' );

      /* Send the data using post with element id name and name2*/
      var posting = $.post( url, $("#formid").serialize());

      /* Alerts the results */
      posting.done(function( data ) {
        alert('success');
      });
    });

    /* Message after checklist update */
    $("#update-btn").click(function(){
      $("#message").text(" Your checklist has been updated.");
      setTimeout(function(){
        $("#message").text("");
      }, 4000);
    });

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIs9DIeZYyke4NWDQ85SBeIvELwMBJLQM&libraries=places"></script>
