<div id="find_resources" class="main-panel container-fluid">
  <div>
    <input id="origin-input" class="controls" type="text"
        placeholder="Enter current location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination">
      </div>

    <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div>
    <div id="right-panel"></div>
    <div id="map"></div>

    <div id="resource_tools">
      <div id="resource_tool_legend">
        <label>Filter By:</label>
        <center id="filter_options">
        </center>
      </div>
      <hr/>
      <form id="formid" action="/checkBox" method="POST">
      <!--div id="resource_tool_checklist">
       <label>Checklist</label>
       <ul class="pull-right" class="checklist_list">
        <br/> 
         <li class="supplies"><input type="checkbox"/>Batteries</li>
          <li class="supplies"><input type="checkbox"/>Utility Knife</li>
          <li class="supplies"><input type="checkbox"/>Duct Tape</li>
          <li class="supplies"><input type="checkbox"/>Blankets</li>
          <li class="supplies"><input type="checkbox"/>Clothes</li>
          <li class="supplies"><input type="checkbox"/>Passport</li>
        </ul>
       <ul class="checklist_list">
        <li class="food_water"><input type="checkbox"/>Water (1 gal per person)</li>
        <li class="food_water"><input type="checkbox"/>Food</li>
        <li class="health"><input type="checkbox"/>Medication</li>
        <li class="health"><input type="checkbox"/>First Aid Supplies</li>
        <li class="health"><input type="checkbox"/>Hand Sanitizer</li>
        <li class="health"><input type="checkbox"/>Soap</li>
       </ul>
       <button type="button" class="btn btn-primary-outline">Primary</button>
      </div-->
      <div id="resource_tool_checklist">
       <label>Checklist</label>
       <br/> 
       <ul class="pull-right" class="checklist_list">
        {{#each secondHalf}}
          <li class="{{className}}"><input type="checkbox" {{#if isChecked}}checked{{/if}} name="{{name}}"/>{{name}}</li>
        {{/each}}  
        </ul>
        
       <ul class="checklist_list" style="padding: 0 !important; margin 0">
          {{#each firstHalf}}
            <li class="{{className}}"><input type="checkbox" {{#if isChecked}}checked{{/if}} name="{{name}}"/>{{name}}</li>
          {{/each}}
       </ul>
       <br>
       <input type="submit" class="btn btn-secondary" value="Update"></input>
      </div>
    </form>
      <hr/>
      <div id="resource_tool_directions">
        <label>Directions:</label>
        <div id="resource_tool_direction_list">
          <center>Click Location for Directions!</center>
        </div>
      </div>




    </div>
  </div>
  <script type='text/javascript'>
    /* attach a submit handler to the form */
    $("#formid").submit(function(event) {

      /* stop form from submitting normally */
      event.preventDefault();

      /* get the action attribute from the <form action=""> element */
      var $form = $( this ),
          url = $form.attr( 'action' );

      /* Send the data using post with element id name and name2*/
      var posting = $.post( url, $("#formid").serialize());

      /* Alerts the results */
      posting.done(function( data ) {
        alert('success');
      });
    });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIs9DIeZYyke4NWDQ85SBeIvELwMBJLQM&libraries=places"></script>
