<div id="seek_help" class="main-panel container-fluid">

	<!-- start account-->
	<div class="container signup">
		<a href="#signup" data-toggle="collapse" id="help">Signing Up/ Logging In</a>
		<div id="signup" class="collapse">
			<p>This tab will let you see all the available resources near you. We will provide data on places with the most
				water, food, transportation, etc. Users will be able to filter through our data and find what they need.</p>
			</div>
		</div> <!-- end of connect -->

	<!-- start of connect -->
	<div class="container connect">
		<a href="#connect" data-toggle="collapse" id="help">Connecting with others</a>
		<div id="connect" class="collapse">
			<p>This tab will let you see all the available resources near you. We will provide data on places with the most
				water, food, transportation, etc. Users will be able to filter through our data and find what they need.</p>
			</div>
		</div> <!-- end of connect -->

		<div class="container survive">
		  <a href="#survivalguide" data-toggle="collapse" id="help">Understanding the Survival Guide</a>
		  <div id="survivalguide" class="collapse">
				This tab will help you figure out how to better prepare for a zombie apocalypse.
				Along with our data, we will provide helpful hints and tips to survive. Not only will this aid you in surviving
				a zombie apocalypse, but you could also apply these skills to natural disasters like earthquakes or floods.
		  </div>
		</div> <!-- end of container survive -->

		<div class="container safe">
		  <a href="#safezones" data-toggle="collapse" id="help">Searching for safe zones in San Diego</a>
		  <div id="safezones" class="collapse">
				<p>This tab will help you find the safest areas to go in the case of a zombie apocalypse.
					How do we determine this? <strong>Answer</strong> We use a formula based off of these factors:
					<ul>
						<li>Population Density: The higher the population, the more chances that there will be more infected. We think that avoiding these high population areas will give you a better chance to not get infected.</li>
						<li>Crime Rate: More crime = more danger. Dangerous areas will most likely have more looters and violent people in the area. Getting away from these crime intensive areas will make you safer.</li>
						<li>Death Rate: The more people that are dying, the more likely there will be more infected zombies. These death rates from Delphi include crime and sickness related deaths. Staying away from sickness and crime will keep you safe</li>
					</ul>
					<br>
					<p><strong>Formula:</strong> crime + death + population = rating <br>
						The higher the rating, the more dangerous an area </p>
				</p>
		  </div>
		</div>

		<div class="container find">
		  <a href="#findresources" data-toggle="collapse" id="help">Finding nearby resources</a>
		  <div id="findresources" class="collapse">
				<p>This tab will let you see all the available resources near you. We will provide data on places with the most
					water, food, transportation, etc. Users will be able to filter through our data and find what they need.</p>
				</div>
			</div> <!-- end container find -->

</div><!-- seek_help -->
