<div id="seek_help" class="main-panel container-fluid">

	<!-- start account-->
	<div class="container signup">
		<a href="#signup" data-toggle="collapse" id="help"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Signing Up/Logging In</a>
		<div id="signup" class="collapse">
			<p>In order to start using Zombie ApocaMaps, you must have a Facebook account. Sign in or create an account with <a href="facebook.com">Facebook</a>.
				<br>
				Once you have successfully sign up, you can login to Zombie ApocaMaps in a few steps:
				<ul>
					<li>Go to <a href="zombieapocamaps.herokuapp.com">zombieapocamaps.herokuapp.com</a>.</li>
					<li>Click on <strong>Start Now</strong> as indicated in the figure below:</li>
					<br>
					<img src="../../img/help-login.png" height="300" width="500" style="padding: 1px; border: 1px solid black;">
				</ul>
				And that's it! You are getting closer to being better prepared for the Zombie Apocalypse!
			</p>
			</div>
		</div> <!-- end of connect -->

	<!-- start of connect -->
	<div class="container connect">
		<a href="#connect" data-toggle="collapse" id="help"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Connecting with others</a>
		<div id="connect" class="collapse">
			<p>This tab will let you see all the available resources near you. We will provide data on places with the most
				water, food, transportation, etc. Users will be able to filter through our data and find what they need.</p>
			</div>
		</div> <!-- end of connect -->

		<div class="container survive">
		  <a href="#survivalguide" data-toggle="collapse" id="help"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Understanding the Survival Guide</a>
		  <div id="survivalguide" class="collapse">
				<p> The Survival Guide will help you figure out how to better prepare for a zombie apocalypse. It provides helpful hints and tips to survive the zombie apocalypse and possibly natural disasters like earthquakes, floods, and hurricanes.
				<br>
				There are two ways to explore the room to find the survival tips:
				<ul>
					<li>Click on the names of the survival tips on the sidebar on the right to reveal more information about that tip.</li>
					<li>Click on the colored circles on the items lying around in the room to reveal more information about the survival tip associated with that item.</li>
				</ul>
		  </div>
		</div> <!-- end of container survive -->

		<div class="container safe">
		  <a href="#safezones" data-toggle="collapse" id="help"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Searching for safe zones in San Diego</a>
		  <div id="safezones" class="collapse">
				<p>This tab will help you find the safest areas to go in the case of a zombie apocalypse.
					How do we determine this? <strong>Answer</strong> We use a formula based off of these factors:
					<ul>
						<li>Population Density: The higher the population, the more chances that there will be more infected. We think that avoiding these high population areas will give you a better chance to not get infected.</li>
						<li>Crime Rate: More crime = more danger. Dangerous areas will most likely have more looters and violent people in the area. Getting away from these crime intensive areas will make you safer.</li>
						<li>Death Rate: The more people that are dying, the more likely there will be more infected zombies. These death rates from Delphi include crime and sickness related deaths. Staying away from sickness and crime will keep you safe</li>
					</ul>
					<br>
					<p><strong>Formula:</strong> crime + death + population = rating <br>
						The higher the rating, the more dangerous an area </p>
				</p>
		  </div>
		</div>

		<div class="container find">
		  <a href="#findresources" data-toggle="collapse" id="help"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Finding nearby resources</a>
		  <div id="findresources" class="collapse">
				<p>To find directions between two locations:
					<ul>
						<li>Type in the origin location and destination in the white textbox in the upper lefthand corner.</li>
						<img src="../../img/help-1-1.png" height="300" width="500" style="padding: 1px; border: 1px solid black">
						<li>Change your way of transportation with the neighboring blue box labelled "Walking", "Transit", and "Driving".</li>
						<img src="../../img/help-1-2.png" height="300" width="500" style="padding: 1px; border: 1px solid black">
					</ul>
					To find directions between your current location to a location of the specific resource:
					<ul>
						<li>Choose between the three resources (Food and Water, Health, Supplies) and click on the type of resource.</li>
						<img src="../../img/help-2-1.png" height="300" width="500" style="padding: 1px; border: 1px solid black">
						<li>After the markers of the specific resource are loaded onto the map, click on the location you want to go to.</li>
						<img src="../../img/help-2-2.png" height="300" width="500" style="padding: 1px; border: 1px solid black">
						<li>Directions will show up on the lower righthand corner.</li>
						<img src="../../img/help-2-3.png" height="300" width="250" style="padding: 1px; border: 1px solid black">
					</ul>
					What is the checklist?:
					<ul>
						<li>The checklist is a list of recommended items that you might need for a zombie apocalypse. To help you find these items, the items are color coded by the
						type of resource it is. If you found an item at a location, simply click on the checkbox and <strong>Update</strong> to save your checklist</li>
						<img src="../../img/help-3-2.png" height="350" width="200" style="padding: 1px; border: 1px solid black">
					</ul>
				</p>
				</div>
			</div> <!-- end container find -->

</div><!-- seek_help -->
