<div id="seek_help" class="main-panel container-fluid">
	<!-- start account-->
	<div class="container signup">
		<a href="#signup" data-toggle="collapse" class="help"><span class="glyphicon glyphicon-chevron-right" style="font-size: 15px;" aria-hidden="true"></span> Signing Up/Logging In</a>
		<div id="signup" class="collapse">
			<p>In order to start using Zombie ApocaMaps, you must have a Facebook account. Sign in or create an account with <a href="facebook.com">Facebook</a>.
				<br>
				Once you have successfully sign up, you can login to Zombie ApocaMaps in a few steps:
				<ul>
					<li>Go to <a href="zombieapocamaps.herokuapp.com">zombieapocamaps.herokuapp.com</a>.</li>
					<li>Click on <strong>Start Now</strong> as indicated in the figure below:</li>
					<br>
					<img src="../../img/help-login.png" height="300" width="500" style="padding: 1px; border: 1px solid black;">
				</ul>
				And that's it! You are getting closer to being better prepared for the Zombie Apocalypse!
			</p>
			</div>
		</div> <!-- end of connect -->

	<!-- start of connect -->
	<div class="container connect">
		<a href="#connect" data-toggle="collapse" class="help"><span class="glyphicon glyphicon-chevron-right" data-swap="glyphicon glyphicon-chevron-down" style="font-size: 15px;" aria-hidden="true"></span> Connecting with others</a>
		<div id="connect" class="collapse">
			<p>
				On this page, you can talk to others about how to better prepare for the disaster.
				<br>
				To post a question:
				<ul>
					<li>Choose the topic you want your discussion to be about. Type in your question in the provided field and click on <strong>Post</strong>.
					If you want to include your location to better connect with people around your area, click on <strong>Location</strong>, which will
					automatically select your current location.</li>
					<img src="../../img/connect-1.png" height="300" width="500" style="padding: 1px; border: 1px solid black;">
				</ul>
				<br>
				To post a comment:
				<ul>
					<li>Browse through the forum, and when you find a discussion that interests you, type in your response in the provided field. Click on
						<strong>Respond</strong>. If you want to include your location to better connect with people around your area, click on <strong>Location </strong>,
						which will automatically select your current location.</li>
						<img src="../../img/connect-2.png" height="200" width="600" style="padding: 1px; border: 1px solid black;">
				</ul>
			</div>
		</div> <!-- end of connect -->

		<div class="container survive">
		  <a href="#survivalguide" data-toggle="collapse" class="help"><span class="glyphicon glyphicon-chevron-right" data-swap="glyphicon glyphicon-chevron-down" style="font-size: 15px;" aria-hidden="true"></span> Understanding the Survival Guide</a>
		  <div id="survivalguide" class="collapse">
				<p> The Survival Guide will help you figure out how to better prepare for a zombie apocalypse. It provides helpful hints and tips to survive the zombie apocalypse and possibly natural disasters like earthquakes, floods, and hurricanes.
				<br>
				There are two ways to explore the room to find the survival tips:
				<ul>
					<li>Click on the colored circles on the items lying around in the room to reveal more information about the survival tip associated with that item.</li>
					<img src="../../img/survival-1.png" height="300" width="500" style="padding: 1px; border: 1px solid black;">
					<li>Click on the names of the survival tips on the sidebar on the right to reveal more information about that tip.</li>
					<img src="../../img/survival-2.png" height="300" width="500" style="padding: 1px; border: 1px solid black;">
				</ul>
		  </div>
		</div> <!-- end of container survive -->

		<div class="container safe">
		  <a href="#safezones" data-toggle="collapse" class="help"><span class="glyphicon glyphicon-chevron-right" data-swap="glyphicon glyphicon-chevron-down" style="font-size: 15px;" aria-hidden="true"></span> Searching for safe zones in San Diego</a>
		  <div id="safezones" class="collapse">
				<p>
					<ul>How are the safety ratings determined?
						<li>We use a formula based off of these factors:</li>
							<ul>
								<li>Population Density: The higher the population, the more chances that there will be more infected. We think that avoiding these high population areas will give you a better chance to not get infected.</li>
								<li>Death Rate: The more people that are dying, the more likely there will be more infected zombies. These death rates from Delphi include crime and sickness related deaths. Staying away from sickness and crime will keep you safe</li>
							</ul>
							<br>
							<strong>Formula:</strong>death + population = rating <br>
							The higher the rating, the more dangerous an area
						</ul>
						<ul>To view the safety ratings of each city
							<li> Choose a district in San Diego</li>
							<img src="../../img/safety-1.png" height="150" width="500" style="padding: 1px; border: 1px solid black;">
							<li> Explore the graph to see each city in that district.</li>
							<img src="../../img/safety-2.png" height="300" width="500" style="padding: 1px; border: 1px solid black;">
						</ul>
					</p>
		  </div>
		</div>
		<div class="container find">
		  <a href="#findresources" data-toggle="collapse" class="help"><span class="glyphicon glyphicon-chevron-right" data-swap="glyphicon glyphicon-chevron-down" style="font-size: 15px;" aria-hidden="true"></span> Finding nearby resources</a>
		  <div id="findresources" class="collapse">
				<p>To find directions between two locations:
					<ul>
						<li>Type in the origin location and destination in the white textbox in the upper lefthand corner.</li>
						<img src="../../img/help-1-1.png" height="300" width="500" style="padding: 1px; border: 1px solid black">
						<li>Change your way of transportation with the neighboring blue box labelled "Walking", "Transit", and "Driving".</li>
						<img src="../../img/help-1-2.png" height="300" width="500" style="padding: 1px; border: 1px solid black">
					</ul>
					To find directions between your current location to a location of the specific resource:
					<ul>
						<li>Choose between the three resources (Food and Water, Health, Supplies) and click on the type of resource.</li>
						<img src="../../img/help-2-1.png" height="300" width="500" style="padding: 1px; border: 1px solid black">
						<li>After the markers of the specific resource are loaded onto the map, click on the location you want to go to.</li>
						<img src="../../img/help-2-2.png" height="300" width="500" style="padding: 1px; border: 1px solid black">
						<li>Directions will show up on the lower righthand corner.</li>
						<img src="../../img/help-2-3.png" height="300" width="250" style="padding: 1px; border: 1px solid black">
					</ul>
					What is the checklist?:
					<ul>
						<li>The checklist is a list of recommended items that you might need for a zombie apocalypse. To help you find these items, the items are color coded by the
						type of resource it is. If you found an item at a location, simply click on the checkbox and <strong>Update</strong> to save your checklist</li>
						<img src="../../img/help-3-2.png" height="350" width="200" style="padding: 1px; border: 1px solid black">
					</ul>
				</p>
			</div>
		</div> <!-- end container find -->
	</div><!-- seek_help -->

<!-- Toggles chevron of collapse -->
<script>
	$(".help").click(function(){
		console.log("hello");
		var _this = $(this);
		// var curr = $(this).find("span").attr("class");
		// var swap = $(this).find("span").attr("data-swap");
		_this.find("span").toggleClass("glyphicon-chevron-right glyphicon-chevron-up");
	});
</script>
