<nav class="navbar  navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-title" href="#">Zombie ApocaMaps</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
               <p>Menu</p>
          </a>

          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>