<div id="my_profile" class="main-panel container-fluid">
	<h1>My Profile</h1>
	<div class="btn-group" role="group" id="profile_tabs">
		<button id="profile_skill_btn" type="button" class="btn btn-default">My Skills</button>
		<button id="profile_inventory_btn" type="button" class="btn btn-default">My Inventory</button>
  		<button id="profile_group_btn" type="button" class="btn btn-default">My Groups</button>
  		<button id="profile_locations_btn" type="button" class="btn btn-default">My Locations</button>
	</div>

	<br/>

	<div id="profile_information" class="profile_panel">
		<div class="skillbar clearfix pull-left" data-percent="0%" id="hunting_bar">
			<div class="skillbar-title" style="background: #d35400;"><span>
				<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
				&nbsp;Hunting
			</span></div>
			<div class="skillbar-bar" style="background: #e67e22;"></div>
			<div class="skill-bar-percent" id="hunting_percent">0%</div>
		</div> <!-- End Skill Bar -->
		<input id="hunting_skill" type="number" name="hunting" min="1" max="100" value="0" class="skill_input pull-left">

		<div class="skillbar clearfix  pull-left" data-percent="0%" id="building_bar">
			<div class="skillbar-title" style="background: #2980b9;"><span>
				<i class="glyphicon glyphicon-home" aria-hidden="true"></i>
				&nbsp;Building
			</span></div>
			<div class="skillbar-bar" style="background: #3498db;"></div>
			<div class="skill-bar-percent" id="building_percent">0%</div>
		</div> <!-- End Skill Bar -->
		<input id="building_skill" type="number" name="building" min="1" max="100" value="0" class="skill_input pull-left">

		<div class="skillbar clearfix  pull-left" data-percent="0%" id="foraging_bar" >
			<div class="skillbar-title" style="background: #2c3e50;"><span>
				<i class="glyphicon glyphicon-leaf" aria-hidden="true"></i>
				&nbsp;Foraging
			</span></div>
			<div class="skillbar-bar" style="background: #2c3e50;"></div>
			<div class="skill-bar-percent" id="foraging_percent" >0%</div>
		</div> <!-- End Skill Bar -->
		<input id="foraging_skill" type="number" name="foraging" min="1" max="100" value="0" class="skill_input pull-left">

		<div class="skillbar clearfix  pull-left" data-percent="0%" id="camoflauging_bar">
			<div class="skillbar-title" style="background: #46465e;"><span>
				<i class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></i>
				&nbsp;Camoflauging
			</span></div>
			<div class="skillbar-bar" style="background: #5a68a5;"></div>
			<div class="skill-bar-percent" id="camoflauging_percent">0%</div>
		</div> <!-- End Skill Bar -->
		<input id="camoflauging_skill" type="number" name="camoflauging" min="1" max="100" value="0" class="skill_input pull-left">

		<div class="skillbar clearfix  pull-left" data-percent="0%" id="running_bar" >
			<div class="skillbar-title" style="background: #333333;"><span>
				<i class="glyphicon glyphicon-road" aria-hidden="true"></i>
				&nbsp;Running
			</span></div>
			<div class="skillbar-bar" style="background: #525252;"></div>
			<div class="skill-bar-percent" id="running_percent" >0%</div>
		</div> <!-- End Skill Bar -->
		<input id="running_skill" type="number" name="running" min="1" max="100" value="0" class="skill_input pull-left">
	</div>


	<div id="profile_inventory" class="profile_panel">
	</div>

	<div id="profile_groups" class="profile_panel">
	</div>




	<div id="profile_locations" class="profile_panel">
		<div id="googleMaps">
		      <div id="profile_map"></div>
		    </div>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIs9DIeZYyke4NWDQ85SBeIvELwMBJLQM&callback=initMap"></script>

	</div>
</div>

<script src="/js/profile.js"></script>