
<div id="safety_zone" class="main-panel container-fluid">
	<div id="safety_zone_wrapper">
		<h3><em>Click a district to see its safety information</em></h3>
		<center id="safety_zone_districts">
		</center>
		<div>
			<div id="safe_zone_information" style="float: left">
				<label class="pull-right sort_rating"><input type="checkbox"> Sort by Rating</label>
				<span id="safe_zone_header"></span>

				<div id="safe_zone_information_text"></div>
				<hr/>
				<h6 id="sz_rating_description"><strong>Rating:</strong> 1 = Most Dangerous &nbsp;&nbsp;10 = Safest</h6>
				<h5><div class="rating_key" style="background-color:#648C67;"></div> Safe<br/>
				<div class="rating_key" style="background-color:#E6B35A;"></div> Okay<br/>
				<div class="rating_key" style="background-color:#AD5152;"></div> Dangerous</h5>
				<p><strong>Formulas:</strong><br/>
				Zombie Population = Death Rate<br/>
				Safety Rating = Population Size + Zombie Population</p>
			</div>
			<div id="barChart" style="float: right">
		</div>
		</div>
		<div id="displayDistrict"></div>
	</div>
</div>
