<script src="https://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
<script src="./js/bubble-chart.js"></script>
<script src="./js/bubble.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>

<style>
	.bubbleChart {
	  min-width: 100px;
	  max-width: 1200px;
	  height: 950px;
	  margin: 30px auto;
	}

	.bubbleChart svg {
		width: 1200px;
	}
 </style>

<!-- JESSE why do java developers wear glasses?-->
<body>


<!-- 	<div id="safety_zone" class="main-panel container-fluid">
		<div id="safety_zone_districts"> 
			<svg width="220" height="220" class="sf_circle">
	  			<circle cx="105" cy="105" r="100" fill="#D6AA5E" id="district1"/>
	  			<text dx="65" dy="110">District 1: South</text>
			</svg>
			<svg width="220" height="220" class="sf_circle">
	  			<circle cx="105" cy="105" r="100" fill="#6BF2E2" id="district2"/>
	  			<text dx="65" dy="110">District 2: East</text>
			</svg>
			<svg width="220" height="220" class="sf_circle">
	  			<circle cx="105" cy="105" r="100" fill="#D65C93" id="district3"/>
	  			<text dx="65" dy="110">District 3: Central</text>
			</svg>
			<svg width="220" height="220" class="sf_circle">
	  			<circle cx="105" cy="105" r="100" fill="#3399FF" id="district4"/>
	  			<text dx="65" dy="110">District 4: Inland</text>
			</svg>
			<svg width="220" height="220" class="sf_circle">
	  			<circle cx="105" cy="105" r="100" fill="#B491ED" id="district5"/>
	  			<text dx="65" dy="110">District 5: Coastal</text>
			</svg>
		</div>
		<div id="barChart">
		</div>
		<div id="displayDistrict"></div> -->

<!-- Because they can't C++ -->


</body>
