<script src="https://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
<script src="./js/bubble-chart.js"></script>
<script src="./js/bubble.js"></script>
<script src="https://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>

<style>
	.bubbleChart {
	  min-width: 100px;
	  max-width: 1200px;
	  height: 950px;
	  margin: 30px auto;
	}

	.bubbleChart svg {
		width: 1200px;
	}
 </style>

<!-- JESSE why do java developers wear glasses?-->
<body>


	<div id="safety_zone" class="main-panel container-fluid">
		<div id="safety_zone_districts">
		</div>
		<div id="safe_zone_information"></div>
		<div id="barChart">
		</div>
		<div id="displayDistrict"></div>
	</div>

<!-- Because they can't C++ -->


</body>
