<div id="sidebar_nav" class="pull-left">
	<center>
	    <img class="profile" src="{{users.picture}}" style=""/>
	    <h3 class="profile_name">{{users.displayName}}</h3>
	    <hr/>
	     <a class="btn btn-sidebar" id="survival_kit_btn">
	    	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
	    	&nbsp; <strong>Survival Guide</strong>
	    	<p id="survival-kit-description" class="side_description">See how various areas will fare in a zombie apocalypse. Select various criteria such as population sizes, death rates, food, and clinics to locate resources you need for an apocalypse.</p>
	    </a>
	    <a class="btn btn-sidebar" id="safety_zone_btn">
	    	<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
	    	&nbsp; <strong>Safe Zones</strong>
	    	<p id="safe-zone-description" class="side_description">See how various areas will fare in a zombie apocalypse. Select various criteria such as population sizes, death rates, food, and clinics to locate resources you need for an apocalypse.</p>
	    </a>

	    <a class="btn btn-sidebar"  id="find_resources_btn">
	    	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	    	&nbsp; <strong>Find Resources</strong>
	    	<p id="find-resources-description" class="side_description">See how various areas will fare in a zombie apocalypse. Select various criteria such as population sizes, death rates, food, and clinics to locate resources you need for an apocalypse.</p>
	    </a>

	    <a class="btn btn-sidebar" id="see_analysis_btn">
	    	<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
	    	&nbsp; <strong>See Analysis</strong>
	    	<p id="see-analysis-description" class="side_description">See how various areas will fare in a zombie apocalypse. Select various criteria such as population sizes, death rates, food, and clinics to locate resources you need for an apocalypse.</p>
	    </a>
    </center>
</div>