<div id="sidebar_nav" class="pull-left">
	<center>
	    <img class="profile" src="{{users.picture}}" style=""/>
	    <h3 class="profile_name">{{users.displayName}}</h3>
	    <hr/>
	    <a class="btn btn-sidebar" id="safety_zone_btn">
	    	<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
	    	&nbsp; Safe Zones
	    	<p id="safe-zone-description" class="side_description">See how various areas will fare in a zombie apocalypse. Select various criteria such as population sizes, death rates, food, and clinics to locate resources you need for an apocalypse.</p>
	    </a>

	    <a class="btn btn-sidebar">
	    	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	    	&nbsp; Find Resources
	    </a>
	    <p id="find-resources-description" class="side_description"></p>
	    <a class="btn btn-sidebar">
	    	<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
	    	&nbsp; See Analysis
	    </a>
	    <p id="see-analysis-description" class="side_description"></p>
	    <a class="btn btn-sidebar">
	    	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
	    	&nbsp; My Survival Kit
	    </a>
	    <p id="survival-kit-description" class="side_description"></p>
    </center>
</div>