<!-- HERE IS A COMMENT FOR YOU, JESSE! -->
<div id="sidebar_nav" class="pull-left">
	<center>
	    <img class="profile" src="{{users.picture}}" style=""/>
	    <h3 class="profile_name">{{users.displayName}}</h3>
	    <hr/>
	    <a class="btn btn-sidebar" id="my_profile_btn">
	    	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	    	&nbsp; <strong>My Profile</strong>
	    	<p id="survival-kit-description" class="side_description">Let others know you're not a zombie... yet. Update your personal information here.</p>
	    </a>
	     <a class="btn btn-sidebar" id="survival_kit_btn">
	    	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
	    	&nbsp; <strong>Survival Guide</strong>
	    	<p id="survival-kit-description" class="side_description">How would you fare in an emergency? Check out this information to help you survive!</p>
	    </a>
	    <a class="btn btn-sidebar" id="safety_zone_btn">
	    	<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
	    	&nbsp; <strong>Safe Zones</strong>
	    	<p id="safe-zone-description" class="side_description">Check out the hot spots to hang out during an apocalypse (and to prepare not to be a zombie lol)</p>
	    </a>

	    <a class="btn btn-sidebar"  id="find_resources_btn">
	    	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	    	&nbsp; <strong>Find Resources</strong>
	    	<p id="find-resources-description" class="side_description">Are you hungry? Are you in need of medical attention? Need to flee the country now? Here is a map for you!</p>
	    </a>

	    <a class="btn btn-sidebar" id="see_analysis_btn">
	    	<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
	    	&nbsp; <strong>See Analysis</strong>
	    	<p id="see-analysis-description" class="side_description">DOOMSDAY IS NEAR!!! Use these data to figure out when...</p>
	    </a>

	    <a class="btn btn-sidebar" id="seek_help_btn">
	    	<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
	    	&nbsp; <strong>Need Help?</strong>
	    	<p id="see-analysis-description" class="side_description">Find out how Team A was desperate to meet Nielsen's Heuristics... (which we already met lawls)</p>
	    </a>
    </center>
</div>