<div id="survival_kit" class="main-panel container-fluid">
	<h1>Survival Guide</h1>

	<svg height="50" width="50" class="survival_interaction_point" id="survival_point_supplies">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
	  <div class="survival_interaction_tip" id="survival_tip_supplies">
		<h3>Stock Up!</h3>
		<p>Gather sufficient supplies to survive for 90 days. Surviving after a major apocalyptic event is not going to be short term, since the entire country or the world is likely to be falling apart––there are no two ways around that reality. However, hopefully having three months of supplies will get you settled and going with your new self-sufficient habits. The more time you have dedicated to form a plan when disaster does strike, the better. When preparing the supplies, think in two categories: basic survival and getting by, as outlined in the following two steps.</p>
	</div>
	</svg>

	<svg height="50" width="50" class="survival_interaction_point" id="survival_point_kit">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
	  <div class="survival_interaction_tip" id="survival_tip_kit">
		<h3>Prepare an Emergency Kit</h3>
		<p>Prepare an emergency kit. Whether you're on the lookout from cannibals, flesh-eating super-bacteria, zombies, or a meteor, you'll need to think about your health. Keep yourself healthy against everything. You'll be dealing with everything from cuts to dysentery. Hospitals will cease existing and simple problems will seem a lot more daunting. If you or a family member has a specific ailment, stockpile medications for that, too.</p>
	</div>
	</svg>

	<svg height="50" width="50" class="survival_interaction_point" id="survival_point_communication">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
	  <div class="survival_interaction_tip" id="survival_tip_communication">
		<h3>Communicate with Others</h3>
		<p>Set up a communication system. Everyone in the household and close family and friends should have a communication system to communicate with family and friends. Communicate secret locations with your family members and friends using the radio.
Keep batteries with your radio. The last thing you want is to presume you're prepared when you're really not. And if you have a loved one you're taking care of, make sure they have a radio and you're not keeping both of them for the two of you.
When all else fails, work out how you will contact each other. This is when your permanent markers will come in handy. If the apocalypse strikes and you have left the house, write down where you are going, when you left, and if/when you'll be back on the wall, on a rock, on a nearby car, wherever you can find.</p>
	</div>
	</svg>

	<svg height="50" width="50" class="survival_interaction_point" id="survival_point_skills">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
		  <div class="survival_interaction_tip" id="survival_tip_skills">
			<h3>Learn how to Hunt</h3>
			<p>Become a good shot. Knowing how to work a gun is going to keep you from either dying or being voted off the island.[citation needed] So get over your hippie all-the-world-needs-is-love mantra and load it up. And while you're at it, buy a couple (if you haven't already).[citation needed]
Regardless of who or what you'll be facing, this is probably a good idea. Zombies will attack you, starving or distrusting humans will attack you, robots will do whatever they please with you, aliens will probe you, and anything menacing just needs to be kept far, far away. Whatever or whoever your enemy, shooting them will probably increase your chances of not being attacked, eaten, being made a robot playtoy, probed, or undermining your will to live.
Unless the apocalypse is due to some bacteria that's floating around in the air. Can't really shoot that, huh? In that case, get a gas mask. Actually, get both. The people/zombies/menacing forces will probably still see you as an enemy.
Learn how to hunt. Face it: This is the Hunger Games. There will be an economic crisis, societal unrest, and you'll be forced to jump the fence to kill squirrels to feed your family's rumbling tummies. How are you going to do it? Going to waste bullets on squirrels? Don't think so.
Master the art of the snare trap. If you're really scrappy with it, you need nothing but what nature provides you (provided that nuclear blast hasn't wiped out everything green).</p>
		</div>
	</svg>

	<svg height="50" width="50" class="survival_interaction_point" id="survival_point_sufficient">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
		  <div class="survival_interaction_tip" id="survival_tip_sufficient">
			<h3>Become Self-Sufficient</h3>
			<p>Become less dependent. If we're all honest with ourselves, what kind of world could we recreate without others? The Internet is just a series of tubes maintained by underground elves, right? In the event that you and your family are alone, how would you end up living? With the knowledge you have, what familiarities of the world could you give them?
For most of us, not much. We flip light switches without a thought. We complain when Netflix is buffering. So if you want to really and truly prepare yourself, you're going to have to either cut yourself off from these luxuries or learn how to recreate them yourself. Can you make a battery from a lemon? Or a potato clock? Lowering the bar... how are you at tying knots? Start lining up the reruns of Gilligan's Island and MacGyver now.

Find a way to generate your own electricity. Taking car batteries and daisy chaining them will act as an energy storage device, but you're going to need to generate power. A generator running on wood, gas or a diesel engine where you can make your own fuel is good, but the real payoff is using renewable energy by making your own wind turbine out of PVC pipes and a car alternator or scavenging some solar panels near a highway. When the events do take a turn for the worst, at least you'll be able to be productive at night and have some of the luxuries of your former life.
Having electricity in your safe house will keep the lights on and keep electronics running. Electricity is important (not to run a PlayStation 3 or Xbox 360 (no one cares how good you are at Halo anymore) to run power tools, welders, water/fuel pumps, radio equipment as well as charge any portable item or comfort item you may wish to use. It'll be a surprising source for morale, too.</p>
		</div>
	</svg>


	<svg height="50" width="50" class="survival_interaction_point" id="survival_point_supplies">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
		  <div class="survival_interaction_tip" id="survival_tip_supplies">
			<h3>Come up with an Escape Plan</h3>
			<p>Come up with an escape plan. If for some odd reason your house isn't safe to stay in, you'll need to get out as soon as possible. With your map in hand, get out and get out now. Would you do best in the forest? Near water? Are you concerned with privacy and hiding from others or is there not another soul in sight? Your specific situation will determine where you should go.
Again, if you can stay in your house, do so. Shelter is best and friends and family will know how to find you. Make an assessment of your situation. Be as logical and rational as possible. You may want to stay, but is it best for you and your family?
</p>
		</div>
	</svg>

<svg height="50" width="50" class="survival_interaction_point" id="survival_point_supplies">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
		  <div class="survival_interaction_tip" id="survival_tip_supplies">
			<h3>Find a Safe Zone</h3>
			<p>Seek shelter. Even if it's not nuclear, you'll be better off escaping the perils of weather and being exposed to predators by getting and staying inside. But if it's a blast that is putting down the human race, it's doubly imperative that you shield yourself from the radiation as quickly as you can.
Basements are a good place to start. 16 inches (40.6 cm) of solid brick can keep radiation away from you, so you should fairly set there -- not to mention among your own things. One inch (2.5cm) of steel will do it too, but you probably don't live on the Enterprise.[2]

</p>
		</div>
	</svg>

<svg height="50" width="50" class="survival_interaction_point" id="survival_point_supplies">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
		  <div class="survival_interaction_tip" id="survival_tip_supplies">
			<h3>Locate Resources</h3>
			<p>Find a food source. You'll probably want this to be from a remnant of your soon-to-be past and not a raspberry bush or particularly lively pond. A grocery store or even recently-deserted houses are your best bet. As you're scrounging, get a candy bar and chow it down. The last thing you want to think about right now is hunger.
And stock up. Don't think in terms of days; think in weeks. Grab a few bags and start scrumping. What can you carry that'll last the longest? Think in volume and weight in addition to preservation. Cans are good, but they're heavy. But if everything is already picked over, don't get fussy; take what you can get.
Water. Get loads and loads and loads of water. Or else you'll be drinking your pee in no time.
</p>
		</div>
	</svg>


<svg height="50" width="50" class="survival_interaction_point" id="survival_point_supplies">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
		  <div class="survival_interaction_tip" id="survival_tip_supplies">
			<h3>Be Wary of Others</h3>
			<p>
Go on the defensive. It's safe to assume at this juncture that whatever is out there is not your friend. Find a weapon that you can actually use and start watching your six. When it comes to humans, there is no place for intelligence and culture now -- you do what you need to do.
Don't flash your gun like you do your BMW. Conceal your weapons.[3] You know that scene in Die Hard where Bruce had those guns taped to his back (despite the fact that tape doesn't adhere easily to pools of sweat) and pulled a one-over on that German villain either played by Jeremy Irons or Alan Rickman? That's going to be you. No one's going to pull the wool over your eyes. You're a weapon yourself.


</p>
		</div>
	</svg>


<svg height="50" width="50" class="survival_interaction_point" id="survival_point_supplies">
	  <circle cx="25" cy="25" r="20" stroke="#8C9FA3" stroke-width="2" fill="#ffffcc" opacity="0.5"/>
		  <div class="survival_interaction_tip" id="survival_tip_supplies">
			<h3>Locate Survivors</h3>
			<p>
Find other survivors. You've got your food, you've got your weapons, and you've staked out a place to stay. Now it's time to assemble a team a la The Walking Dead. Except that you want a team that is actually useful. When you consider taking on others (they're mouths to feed, after all), assess what they can do for you. Do they know plants? Are they a wizard with a javelin? Are they carrying their own stockpile of food?
Okay, you'll probably want friends so you shouldn't be too picky. If you're not going to assess them for their goods, at least consider their character. Does your gut tell you they're trustworthy?
If you're all alone, keep a look out for lights and fires at nighttime. If you see one or more, consider venturing out yourself to make new best friends, but only if you think the end would justify the means. How far away is the light? How quickly could you get there? What would you be risking by leaving? Are there predators or obstacles in your path? You may be better off being alone, for now.


</p>
		</div>
	</svg>

</div>