<div id="survival_kit" class="main-panel container-fluid">
	<div id="survival_wrapper">
		<img src="/img/survival guide.png" id="survival_img"/>
		<svg height="50" width="50" class="survival_interaction_point" id="survival_point_supplies">
		  <circle cx="25" cy="25" r="20" x="1000" stroke="#00FDC8" stroke-width="4" fill="white" opacity="0.8"/>
		</svg>
		<div class="survival_interaction_tip" id="survival_tip_supplies">
			<h3>Stock Up!</h3>
			<em>Click to go to Inventory</em>
			<p>
				Make sure you have enough supplies for at least 3 months. Plan ahead for what you'll need to survive and keep track of what you have so you won't be caught off guard when disaster strikes. Basic needs include food, water, medical supplies, and other supplies.
			</p>
		</div>

		<svg height="50" width="50" class="survival_interaction_point" id="survival_point_communication">
		  <circle cx="25" cy="25" r="20" stroke="#00FDC8" stroke-width="4"  fill="white" opacity="0.8"/>
		</svg>
		<div class="survival_interaction_tip" id="survival_tip_communication">
			<h3>Communicate with Others</h3>
			<em>Click to go to Chat Room</em>
			<p>
				Have a means of communication to make sure everyone is safe and accounted for. Reach out to other survivors to form a team and fight against the apocalypse together. The more people you are with, the better your chances of survival are. Don't fight the apocalypse alone!
			</p>
		</div>

		<svg height="50" width="50" class="survival_interaction_point" id="survival_point_skills">
		  <circle cx="25" cy="25" r="20" stroke="#00FDC8" stroke-width="4" fill="white" opacity="0.8"/>

		</svg>
		<div class="survival_interaction_tip" id="survival_tip_skills">
			<h3>Develop Survival Skills</h3>
			<em>Click to go to Skills</em>
			<p>
				Learning skills such as hunting or building could save your life if the situation becomes perilous enough. Having these skills will make you more independent and thus more likely to survive.
			</p>
		</div>

		<svg height="50" width="50" class="survival_interaction_point" id="survival_point_evacuation">
		  <circle cx="25" cy="25" r="20" stroke="#00FDC8" stroke-width="4"  fill="white" opacity="0.8"/>
		</svg>
		<div class="survival_interaction_tip" id="survival_tip_evacuation">
			<h3>Have an Escape Plan</h3>
			<em>Click to go to Locations</em>
			<p>
				During an apocalypse, anything can happen that will force you to evacuate. Figuring out beforehand where you will take shelter, where you will get food, and which route you will take can keep you from falling prey to the dangers around you.
			</p>
		</div>

		<svg height="50" width="50" class="survival_interaction_point" id="survival_point_safety">
			<circle cx="25" cy="25" r="20" stroke="#00FDC8" stroke-width="4"  fill="white" opacity="0.8"/>
		</svg>
		<div class="survival_interaction_tip" id="survival_tip_safety">
			<h3>Find a Safe Zone</h3>
			<em>Click to go to Safe Zones</em>
			<p>
				Shelter is one of the most critical aspects of your survival plan. Find a place that is as safe as possible while still being close to the resources you will need to survive. Having a spot mapped out will allow you to also make preparations before it is too late.
			</p>
		</div>

		<svg height="50" width="50" class="survival_interaction_point" id="survival_point_resources">
			  <circle cx="25" cy="25" r="20" stroke="#00FDC8" stroke-width="4"  fill="white" opacity="0.8"/>
		</svg>
		<div class="survival_interaction_tip" id="survival_tip_resources">
			<h3>Locate Resources</h3>
			<em>Click to go to Find Resources</em>
			<p>
				Find places where you will get food, water, medicine, and other supplies beforehand. In doing so, you will be better prepared for when your inventory runs low and you will need to restock it.
			</p>
		</div>

		<svg height="50" width="50" class="survival_interaction_point" id="survival_point_help">
		  <circle cx="25" cy="25" r="20" stroke="#00FDC8" stroke-width="4" fill="white" opacity="0.8"/>
		</svg>
		<div class="survival_interaction_tip" id="survival_tip_help">
			<h3>Study How to Survive</h3>
			<em>Click to go to Help Page</em>
			<p>
				In an apocalypse, you can never prepare for everything. However, you can better prepare yourself for dealing with emergencies as they arise by making sure you know what is needed to survive.
			</p>
		</div>
	</div>

<div id="survival_transcript">
	<h1>How to Survive:</h1>

	<div id="survival_section_supplies" class="survival_section">
		<h3 id="survival_section_supplies" >Stock Up!</h3>
		<p id="survival_section_supplies" >
			Make sure you have enough supplies for at least 3 months. Plan ahead for what you'll need to survive and keep track of what you have so you won't be caught off guard when disaster strikes. Basic needs include food, water, medical supplies, and other supplies.
		</p>
	</div>

	<div id="survival_section_communication" class="survival_section">
		<h3 id="survival_section_communication">Communicate with Others</h3>
		<p id="survival_section_communication">
		Have a means of communication to make sure everyone is safe and accounted for. Reach out to other survivors to form a team and fight against the apocalypse together. The more people you are with, the better your chances of survival are. Don't fight the apocalypse alone!
		</p>
	</div>

	<div id="survival_section_skills" class="survival_section">
		<h3 id="survival_section_skills">Develop Survival Skills</h3>
		<p id="survival_section_skills">
		Learning skills such as hunting or building could save your life if the situation becomes perilous enough. Having these skills will make you more independent and thus more likely to survive.
		</p>
	</div>

	<div id="survival_section_evacuation" class="survival_section">
		<h3 id="survival_section_evacuation">Have an Escape Plan</h3>
		<p id="survival_section_evacuation">
		During an apocalypse, anything can happen that will force you to evacuate. Figuring out beforehand where you will take shelter, where you will get food, and which route you will take can keep you from falling prey to the dangers around you.
		</p>
	</div>

	<div id="survival_section_safety" class="survival_section">
		<h3 id="survival_section_safety">Find a Safe Zone</h3>
		<p id="survival_section_safety">
		Shelter is one of the most critical aspects of your survival plan. Find a place that is as safe as possible while still being close to the resources you will need to survive. Having a spot mapped out will allow you to also make preparations before it is too late.
		</p>
	</div>

	<div id="survival_section_resources" class="survival_section">
		<h3 id="survival_section_resources">Locate Resources</h3>
		<p id="survival_section_resources">
		Find places where you will get food, water, medicine, and other supplies beforehand. In doing so, you will be better prepared for when your inventory runs low and you will need to restock it.
		</p>
	</div>

	<div id="survival_section_help" class="survival_section">
		<h3 id="survival_section_help">Study How to Survive</h3>
		<p id="survival_section_help">
		In an apocalypse, you can never prepare for everything. However, you can better prepare yourself for dealing with emergencies as they arise by making sure you know what is needed to survive.
		</p>
	</div>
</div>
</div>


<script src="/js/survival.js"></script>