<!DOCTYPE html>
<html>
<head>
    {{> header}}
</head>

<body>
    {{> facebook}}

    <!-- start of longin-screen -->
    <div id="login_screen">
        <center>
            <h1 id="main-title">Zombie ApocaMaps</h1>
            <strong><h2 id="subheader">A data visualization tool that will help you prepare for the Zombie Apocalypse</h2></strong>
            <div id="login-btn">
                <a id="fb-login" href="/auth/facebook"><b>Start Now</b></a>
                <a id="learnmore" href="#videotutorial"><b>Learn More</b></a>
            </div>
        </center>
    </div> <!-- end of login-screen -->

    <!--start of learn-->
    <div id="learn">
      <div class="container-fluid">
        <a id="videotutorial"></a>
        <div class="row">

          <!-- <div id="video" class="col-lg-6">
            <a id="videotutorial"></a>
            <br>
            <iframe width="500" height="305" src="https://www.youtube.com/embed/2cymqAVPWuo" frameborder="0" allowfullscreen></iframe>
            <br>
          </div> -->
          <div id="about" class="text-center">
            <h2 class="about-title">About <span class="about-brand">Zombie ApocaMaps</span></h2>
            <h3 id="about-descrip">It's hard to prepare for an event that is unexpected, and existing preparedness sites are not designed to keep users interested.
              With an easy way to connect with others, explore areas in San Diego, scavenge for limited and nearby resources, and learn
              necessary survival tips, Zombie ApocaMaps will be your top choice in helping you prepare for natural disasters in a fun way! </h3>
          </div>
        </div> <!-- end of row -->
      </div> <!-- end of container fluid -->
    </div> <!-- end of learn -->

    <!-- start of preview -->
    <div id="preview">
      <div class="container-fluid">
        <h1 class="text-center how-prepared">How prepared are you?</h1>

        <!-- start of safety zones -->
        <div id="safetyzones" class="row">
          <div class="col-lg-6 screenshot">
            <img src="img/safetyzones.gif" width="550" height="355">
          </div>
          <div class="col-lg-6 wording">
            <h2 class="title">Search for <span class="keyword">Safety Zones</span></h2>
            <h2 id="description">
              Locate areas in San Diego where it would be safe to be! Search by district and see what district in San Diego has the best rating. These ratings are calculated based off of our advanced algorithm using real world data.
            </h2>
          </div>
        </div> <!-- end of safety zones -->

        <!-- start of find resources -->
        <div id="findresources" class="row">
          <div class="col-lg-6 wording">
            <h2 class="title">Find <span class="keyword">Nearby Resources</span></h2>
            <h3 id="description">
              Find resources (food, water, health, and supplies) near you. We use GPS tracking to get your up to date location. Either by clicking the location marker or through search, you can find directions from your location to the resource. When you have the resources, you can check them off and update your checklist so you know what you have at all times.
            </h3>
          </div>
          <div class="col-lg-6 screenshot">
            <img src="img/findresources.gif" width="550" height="355">
          </div>
        </div> <!-- end of find resources -->

        <!-- start of connect -->
        <div id="connect" class="row">
          <div class="col-lg-6 screenshot">
            <img src="img/connect.gif" width="550" height="355">
          </div>
          <div class="col-lg-6 wording">
            <h2 class="title"><span class="keyword">Connect </span>With Other Users </h2>
            <h3 id="description">
              Connect with everyone using Zombie Apocamaps. We have created a forum for you to post questions and find new people. These forums are separated by sub category so you can find out what you want.
            </h3>
          </div>
        </div> <!-- end of connect -->
      </div> <!-- end of container fluid -->

      <!-- start of find resources -->
      <div id="survivalguide" class="row">
        <div class="col-lg-6 wording">
          <h2 class="title">Learn handy tips from the <span class="keyword">Survival Guide</span></h2>
          <h3 id="description">A survival guide that will teach you how to survive a zombie apocalypse. It will include helpful tips on how to create an evacuation plan,
            find nearby supplies, fight zombies, and much more! </h3>
        </div>
        <div class="col-lg-6 screenshot">
          <img src="img/survivalguide.gif" width="550" height="355">
        </div>
      </div> <!-- end of find resources -->
    </div> <!-- end of preview -->


    <!-- start of calltoaction -->
    <div class="text-center calltoaction">
      <h1>Start preparing for the Zombie Apocalypse now!</h1>
      <br>
        <a class="calltoaction-btn" href="/auth/facebook"><b>Start Now</b></a>
    </div> <!-- end of calltoaction-->

    <!-- start of footer-->
    <footer class="text-center">
      <p>Built by: Team A</p>
    </footer> <!-- end of footer-->

    <!-- provides smooth scrolling -->
    <script>
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
      });
      </script>

</body>
</html> <!--end -->
