<!DOCTYPE html>
<html>
<head>
    {{> header}}
</head>

<body>
    {{> facebook}}

    <!-- start of longin-screen -->
    <div id="login_screen">
        <center>
            <h1 id="main-title">Zombie ApocaMaps</h1>
            <strong><h2 id="subheader">A data visualization tool that will help you prepare for the Zombie Apocalypse</h2></strong>
            <div id="login-btn">
                <a id="fb-login" href="/auth/facebook"><b>Start Now</b></a>
                <a id="learnmore" href="#videotutorial"><b>Learn More</b></a>
            </div>
        </center>
    </div> <!-- end of login-screen -->

    <!--start of learn-->
    <div id="learn">
      <div class="container-fluid">
        <div class="row">
          <div id="video" class="col-lg-6">
            <a id="videotutorial"></a>
            <br>
            <iframe width="500" height="305" src="https://www.youtube.com/embed/2cymqAVPWuo" frameborder="0" allowfullscreen></iframe>
            <br>
          </div>
          <div id="about" class="col-lg-6">
            <h2 class="about-title">About <span class="about-brand">Zombie ApocaMaps</span></h2>
            <h3 id="about-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            </h3>
          </div>
        </div> <!-- end of row -->
      </div> <!-- end of container fluid -->
    </div> <!-- end of learn -->

    <!-- start of preview -->
    <div id="preview">
      <div class="container-fluid">
        <h1 class="text-center how-prepared">How prepared are you?</h1>

        <!-- start of safety zones -->
        <div id="safetyzones" class="row">
          <div class="col-lg-6 screenshot">
            <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" width="500" height="305">
          </div>
          <div class="col-lg-6 wording">
            <h2 class="title">Search for <span class="keyword">Safety Zones</span></h2>
            <h2 id="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            </h2>
          </div>
        </div> <!-- end of safety zones -->

        <!-- start of find resources -->
        <div id="findresources" class="row">
          <div class="col-lg-6 wording">
            <h2 class="title">Find <span class="keyword">Nearby Resources</span></h2>
            <h3 id="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            </h3>
          </div>
          <div class="col-lg-6 screenshot">
            <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" width="500" height="305">
          </div>
        </div> <!-- end of find resources -->

        <!-- start of connect -->
        <div id="connect" class="row">
          <div class="col-lg-6 screenshot">
            <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" width="500" height="305">
          </div>
          <div class="col-lg-6 wording">
            <h2 class="title">Connect With <span class="keyword">Loved Ones </span></h2>
            <h3 id="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            </h3>
          </div>
        </div> <!-- end of connect -->
      </div> <!-- end of container fluid -->
    </div> <!-- end of preview -->

    <!-- start of calltoaction -->
    <div id="login-btn" class="text-center calltoaction">
      <h1>Start preparing for the Zombie Apocalypse now!</h1>
      <br>
        <a id="fb-login" class="footer_button" href="/auth/facebook"><b>Start Now</b></a>
    </div> <!-- end of calltoaction-->

    <!-- start of footer-->
    <footer class="text-center">
      <p>Built by: Team A</p>
    </footer> <!-- end of footer-->

    <!-- provides smooth scrolling -->
    <script>
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
      });
      </script>

</body>
</html> <!--end -->
