#connect_page{
	padding-left:17vw;
	height:95vh;
}
.input_question{
	width:90%;
	background-color:white;
	padding:15px;
}
#connect_content{
	height:auto;
	margin-top:4px;
	min-height:80vh;
}
#question_textarea{
	resize:none;
	width:80%;
	outline:none;
	border:none;
	border-color:inherit;
	font-size:12pt;
	height:100px;
}

#new_question_options{
	margin-top:20px;
	margin-left:95px;
	width:80%;
}

.answer_options{
	margin-top:20px;
	width:80%;
}

.connect_profile{
	margin-right:30px;
	height:100%;
	width:75px;
	text-align: center;
}

.profile_question{
	width:120px;
	height:100% !important;
	text-align: center;
}

.main_profile{
	margin-right:50px;
}

.question, .answer{
	padding:20px;
}
#default_item_question{
	display:none;
}

.question{
	background-color:white;
	margin-bottom:20px;
	width:90%;
}

.answer{
	background-color:#EEEEEE;
	margin-top:10px;
    min-height: 120px;
    height:auto;
}

textarea{
    resize: none;
}

#search_area{
	width:90%;
	padding:10px;
	margin-bottom:20px;
}

.btn-custom{
	font-size:12pt;
	border-radius:15px;
	padding:5px 20px;
	background-color: white;
}

#search_input_box{
	width:50%;
	padding:5px;
	font-size:12pt;
	border:none;
	color:black;
}

.btn-custom:hover{
	color: white;
}

.answer_textarea{
	width: 70% !important;
	outline:none;
	font-size:12pt;
	border:none;
}

#question_wrapper{
	margin-top:-20px;
	padding-top:20px;
	min-height:300px;
	padding-bottom: 20px;
}

.profile_question{
	height:100%;
}

.answer_profile{
	height:40px;
	width:40px;
}

.divider{
	width:100%;
	margin-top:10px;
	font-size:14pt;
	color:white;
}

.answer_text{
	width:80%;
	word-wrap: break-word;
	margin-left:100px;
}

.answer_section{
	display: none;
}

.expand{
    min-width: 50vw;
    width: 100%;
    /*padding: 1.5vh 10vw; */
    text-decoration: none;
    color: black;
    background-color:#D5D5D5;
}

.expand:hover{
     font-weight:bold;
}

.location_remove{
	cursor:pointer;
	margin-left:20px;
	font-weight:bold;
	text-decoration: none;
	display:none;
}

.location_wrapper{
	font-size:12pt;
}

.default_no_answers{
	font-size:13pt;
	text-align: center;
	margin-top:20px;
}

.location_display{
	font-size:9pt;
}