#my_profile{
	padding-left:17vw;
	height:95vh;
}
.input_question{
	width:90%;
	background-color:white;
	padding:15px;
}
#connect_content{
	height:auto;
	margin-top:4px;
}
#question_textarea{
	resize:none;
	width:90%;
	outline:none;
	border:none;
	border-color:inherit;
	font-size:12pt;
}

#new_question_options{
	margin-top:20px;
	margin-left:95px;
	margin-right:30px;
}

.profile{
	margin-right:20px;
	height:100%;
	width:75px;
}

.question, .answer{
	padding:20px;
}

.question{
	background-color:white;
	margin-bottom:20px;
}

.answer{
	background-color:#EEEEEE;
	margin-top:10px;
    min-height: 120px;
}

textarea{
    resize: none;
}

#search_area{
	width:90%;
	padding:10px;
	margin-bottom:20px;
}

.btn-custom{
	font-size:12pt;
	border-radius:15px;
	padding:5px 20px;
	background-color: white;
}

#search_input_box{
	width:30%;
	padding:5px;
	font-size:12pt;
	border:none;
}

.btn-custom:hover{
	color: white;
}

.answer_textarea{
	width: 80%;
}
#question_section{
	margin-top:-20px;
	padding-top:20px;
}

.profile_question{
	height:100%;
}

.divider{
	width:100%;
	margin-top:10px;
	font-size:14pt;
	color:white;
}

.answer_text{
	width:80%;
	word-wrap: break-word;
	margin-left:100px;
}

.answer_section{
	display: none;
}

.expand{
    min-width: 50vw;
    width: 100%;
    /*padding: 1.5vh 10vw; */
    text-decoration: none;
    color: black;
    background-color:#D5D5D5;
}

.expand:hover{
     font-weight:bold;
}
