@font-face{
	font-family: Zombie-Font;
	src: url('KaushanScript-Regular.ttf');
}

/* LOGIN SCREEN */
body{
    /*background-color:#C0BEC3;*/
    font-family: 'Dosis', sans-serif;
}
#login_screen{
    background: url('../img/header.png') no-repeat center center scroll;
    background-size: 100vw auto;
    padding: 50px;
		height: 480px;
    /*margin-top:50px;*/
}

#mainscroll{
    margin-top:15vh;
}

.login{
    width: 350px;
    height: 300px;
    text-align: center;
    margin-left: 37%;
    margin-top: 4px;
    padding-top: 2%;
    background-color: #08E8DE;
    border-radius: 15px;
}

#main-title, .navbar-title{
    color:white;
    font-family: 'Kaushan Script', cursive;
}

#main-title{
    font-size:50pt;
    margin-top: 6%;
}

.navbar-title{
    font-size:25pt;
}

#subheader{
	color: white;
	font-size: 20pt;
}

.navbar-title{
    margin-left:40%;
}
.navbar{
    padding:3px;
    padding-left:10px;
    padding-right:40px;
}

.navbar-right{
    padding-top:15px;
}

.navbar-right a{
    font-size:12pt;
    color:white;
}

#login-btn{
	margin-top: 50px;
}

#login-btn #fb-login{
	background-color: #043B62;
  border: none;
	border-radius: 10px;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
	margin: 0px 15px 0px 15px;
	border: 2px solid #043B62;
}

#login-btn #learnmore{
	border: 2px solid #043B62;
	border-radius: 10px;
	color: #043B62;
	padding: 10px 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 23px;
	margin: 0px 15px 0px 15px;
	background-color: white;
}

#login-btn #fb-login:hover,
#login-btn #learnmore:hover{
	background-color: #054572;
	border: 2px solid #054572;
	color: white;
}

}
#learn{
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: #c1dad6;
}

#learn #video{
	padding-left: 200px;
	padding-top: 60px;
	padding-bottom: 100px;
}

#learn #about h2{
	padding-left: 100px;
	padding-top: 60px;
}

#learn .about-title{
	font-size: 30pt;
}

#learn .about-brand{
	color: #043B62;
}

#learn h3{
	padding-right: 200px;
	padding-left: 100px;
}

#preview{
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: ghostwhite;
}

#preview h1{
	font-size: 40pt;
}

#preview #safetyzones,
#preview #findresources,
#preview #connect{
	margin-top: 100px;
}

#preview #title{
	font-size: 30pt;
}

#preview #description{
	font-size: 20pt;
}

#preview .keyword{
	color: #043B62;
}

#preview #safetyzones .screenshot,
#preview #connect .screenshot{
		padding-left: 200px;
}

#preview #safetyzones .wording,
#preview #connect .wording{
	padding-left: 150px;
	width: 600px;
}

#preview #findresources .wording{
	padding-left: 200px;
	width: 600px;
}

#preview #findresources .screenshot{
	padding-left: 200px;
}

.calltoaction{
	padding-top: 100px;
    height:700px;
    color:white;
    background: url('../img/footer.png') no-repeat center center scroll;
    background-size: 100vw 100%;
    margin-bottom:0;
    padding-bottom:0;
}

#login-btn h1{
	font-size: 30pt;
}

footer{
	display: block;
	background-color: #04385d;
	height: 100px;
}

footer p{
	padding-top: 30px;
	color: white;
	font-size: 15pt;
}

.dropdown-toggle {
    color:white;
}

/* NAVIGATION STUFF */
nav{
    background-color:#233751;
}

#sidebar_nav{
    padding-top: 38px;
    min-height:100%;
    width:18vw;
    background-color:#CDCDCF;
    position:fixed;
    z-index:100;
}

.profile{
    height:100px;
    width:100px;
    border-radius: 110px;
}
.profile_name{
    color:gray;
}

.btn-sidebar{
    width:100%;
    padding:10px;
    color:black;
    font-size:14pt;
    border-radius:0;
}

#navbar_logo{
    width:50px;
    height:auto;
    margin-top:-10px;
}

.btn-sidebar:hover, .active-side-btn{
    background-color:#8C9FA3;
    color:black;
}
.side_description{
    display:none;
    word-wrap:break-word;
    width:18vw;
    white-space: initial;
    padding:10px;
    margin-right:10px;
}

.main-panel{
    display:none;
    background-color:white;
    height:100%;
    padding-top:30px;
    padding-left:20vw;
    width:100%;
    position:absolute;
}



/* PROFILE STYLING */
.profile_panel{
    display:none;
    width:100%;
    height:100%;
}

#profile_tabs{
    margin-bottom:10px;
}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:70%;
    background:#eee;
    height:35px;
    border-radius:3px;
    display:inline-block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:130px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

.skill_input{
    display:inline;
    margin-left:20px;
}

#googleMaps {
    height: 80%;
}

#profile_map {
    height: 100%;
}

.inventory_item{
    margin-bottom:10px;
    font-size:15pt;
}

.inventory_item input{
    padding-left:5px;
    font-size:13pt;
    margin-right:10px;
}

.btn-profile{
    background-color: #532220;
    color:white;
    font-size:14pt;
}

.btn-profile:hover, .active-profile-btn{
    background-color: #D6A191;
    color:black;
}

#skillmap .skills-wrapper {
  margin-top: 10px;
  overflow: auto;
}
#skillmap .skills-sunburst {
  float: left;
  width: 500px;
  margin-left: -80px;
}
#skillmap .skills-sunburst svg {
  font: 11px 'Source Sans Pro', sans-serif;
  font-weight: 900;
  cursor: pointer;
}
#skillmap .skills-chart {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin: 80px 20px 0 0;
}
#skillmap .skills-chart .breadcumb-text {
  font-size: 13px;
  font-weight: 700;
}
#skillmap .skills-chart #skills-chart-line {
  fill: none;
  stroke-width: 3.5px;
}
#skillmap .skills-chart .axis path,
#skillmap .skills-chart .axis line {
  fill: none;
}
#skillmap .skills-chart .x-axis path,
#skillmap .skills-chart .y-axis path {
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}

#map { position:absolute; top:0; bottom:0; margin-left: -35px; width:100%; }



#survival_kit{
    background-color:#8C9FA3;
    padding:0;
}

#survival_wrapper{
    position:relative;
}

#survival_img{
    position:absolute;
    margin-left:18vw;
    margin-top: 20px;
    width:82vw;
    height:95vh;
}


.survival_interaction_point{
    cursor:pointer;
    position:absolute;
}

.survival_interaction_tip{
    background-color: #d5dcdd;
    position:absolute;
    color:black;
    padding:10px;
    width:400px;
    display:none;
    z-index:100;
}

.survival_interaction_point:hover circle{
    opacity:1;
}

.survival_interaction_point:hover + .survival_interaction_tip{
    display:block;
}

.survival_interaction_tip h3{
    font-size:14pt;
    margin:0;
    margin-bottom:5px;
    font-weight:bold;
}

.survival_interaction_tip p{
    font-size:12pt;
}

.survival_interaction_tip a{
    cursor:pointer;
}

#survival_point_supplies{
    left:27vw;
    top:80vh;
}
#survival_tip_supplies{
    left:32vw;
    top:67vh
}
#survival_point_communication{
    left:85vw;
    top:15vh;
}

#survival_tip_communication{
     right:15vw;
     top:10vh
}

#survival_point_skills{
    left:92vw;
    top:60vh;
}

#survival_tip_skills{
    right: 10vw;
    top:55vh;
}

#survival_point_safety{
    left:75vw;
    top:30vh;
}

#survival_tip_safety{
    left:65vw;
    top:37vh;
}

#survival_point_evacuation{
    left:60vw;
    top:80vh;
}

#survival_tip_evacuation{
    top:57vh;
    left:55vw;
}

#survival_point_resources{
    left:52vw;
    top:40vh;
}

#survival_tip_resources{
    left:30vw;
    top:17vh;
}

#survival_point_help{
    left:33vw;
    top:55vh;
}

#survival_tip_help{
    left:20vw;
    top:33vh;
}

#second_idea{
    margin-top:100vh;
    margin-left:20vw;
    margin-right:20vw;
    padding-bottom:20px;
}

#floating-panel {
position: absolute;
top: 85px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}

#legend {
    background: white;
    padding: 10px;
}